/* src/index.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background:linear-gradient(to bottom left, rgb(59, 92, 226),rgb(216, 156, 233));
}

.game {
  text-align: center;
}

.game-info {
  margin-bottom: 10px;
  font-size: 18px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.square:hover {
  background-color: #f0f0f0;
}

.square.winner {
  background-color: #7fff7f;
  color: #000;
  text-decoration: line-through;
}


.restart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: #45a049;
}
.plywin,.draw{
  font-weight: bold;
  font-size: 25px;
  color: aliceblue;
}